[Desktop Entry]
Type=Application
Name=Tachyon
Comment=Read and edit Markdown as a rich document
Exec=tachyon %F
Icon=io.github.mendrik_private.Tachyon
Terminal=false
Categories=Utility;TextEditor;
Keywords=Markdown;Editor;Notes;CommonMark;
MimeType=text/markdown;text/x-markdown;
StartupNotify=true
StartupWMClass=io.github.mendrik_private.Tachyon
